body {
  background-color: green;
  font-family: arial;
}

p {
  color: white;
  font-size: 20px;
  text-align: center;
}

main {
  margin-top: 100px;
}

span {
    display: flex;
    justify-content: center;
}
@keyframes throw{
  0%{
    transform: translateX(-500px) rotate(-300deg);
    opacity: 0
   }
 100%{
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.throw{
    animation: throw 0.5s ease-out;
}
